<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      O Angular é um framework consolidado que foi desenvolvido pela equipe do
      Google em 2010. Essa primeira versão era conhecida como Angular JS, mas
      também podemos encontrar a grafia Angular. JS. Desde então, passou por
      diversas mudanças e evoluções.
    </p>
  </div>
</div>
