@media screen and (max-width: 1024px) {
  .container__menu-title>h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 800px) {
  .container__menu-title>h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 370px) {
  .container__menu-title>h1 {
    font-size: 30px;
  }
}